<footer class="footer p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="/" class="nav-brand">Med~Remmy</a>
                <p class="text-center w-50 mx-auto">Monitor your prescription through our efficient reminders</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/about" class="text-white">About</a></li>
                    <li><a href="/contacts" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="last col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled d-flex justify-content-around pt-3">
                    <li class="me-3"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <h6 class="copyright text-muted">&copy;2024 Burner-Tech, Inc.</h6>
    </div>
</footer>
